body{
  background-color: red;
  font-family: monospace;
  font-size: 36px;
}

footer{
  margin-top: 20px;
}

img{
  border-radius: 10px;
}
#indice{

}
#Contenedor{
  font-family: verdana;
  font-size: 16px;
}
#Encabezado{
  display: block;
  margin: 0 auto;
}
